@import "reponsive";

$textMainColor: #121d26;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  position: sticky;
  z-index: 999;
  top: 0;
}

.header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 60px;
  background-color: #fff;
  @include tablet {
    height: 80px;
  }
  @include desktop {
    height: 96px;
    padding-left: 48px;
    padding-right: 48px;
  }

  &__left {
    img {
      width: 70%;
      @include tablet {
        width: 100%;
      }
    }
  }

  &__more {
    display: none;
    @include desktop {
      @include flex-center();
    }
    gap: 24px;
    &--option {
      @include flex-center();
      flex-direction: column;
    }
  }

  &__contacts-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $textMainColor;
    padding: 4px;
    border-radius: 50px;
    &--ic-dino {
      width: 24px;
      @include tablet {
        width: 36px;
      }
      @include tablet {
        width: 48px;
      }
      img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 1/1;
      }
    }
    p {
      line-height: 1.5;
      font-weight: 700;
      padding-left: 16px;
      padding-right: 16px;
      color: white;
      font-size: 14px;
      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__right {
    @include flex-center();
    gap: 8px;
    @include tablet {
      gap: 16px;
    }
    @include desktop {
      gap: 24px;
    }
  }

  &__center {
    display: none;
    @include desktop {
      @include flex-center();
    }
    &--item {
      @include flex-center();
      padding-right: 16px;
      padding-left: 16px;
      cursor: pointer;
      gap: 8px;
      height: 80px;
      p {
        font-weight: 700;
        color: $textMainColor;
      }
      img {
        width: 12px;
      }
    }
  }

  &__menu-mobile {
    display: block;
    width: 24px;
    height: 24px;
    @include tablet {
      width: 36px;
      height: 36px;
    }
    @include desktop {
      display: none;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.header-mobile {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 999;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  overflow: auto;
  float: right;
  padding: 32px;
  padding-bottom: 112px;
  background: #ccc;

  @include tablet {
    top: 80px;
  }
  @include desktop {
    display: none;
  }

  &__item {
    margin-bottom: 32px;
    &--title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 20px;
    }
    &--contents-grid {
      border-radius: 50px;
      background: #fff;
      padding: 32px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 18px;
      @include tablet {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      a {
        @include flex-center();
        text-align: center;
        flex-direction: column;
        img {
          width: 84px;
          height: 84px;
          border-radius: 32px;
          margin-bottom: 16px;
          object-fit: cover;
          aspect-ratio: 1/1;
          box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }

    &--contents-col {
      border-radius: 50px;
      background: #fff;
      padding: 32px;
      display: flex;
      flex-direction: column;
      a:last-child {
        border-bottom: none;
      }
      a {
        padding: 12px;
        border-bottom: 1px #ccc solid;
      }
    }
  }

  &--active {
    display: block;
    animation: fadeRightToLeft 0.5s ease-in;
  }

  &--hide {
    animation: fadeLeftToRight 0.5s ease-out;

  }
}

@keyframes fadeBottomToTop {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeLeftToRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.sub-menu {
  width: 100%;
  padding: 24px;
  position: absolute;
  top: 96px;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__products {
    animation: fadeBottomToTop 0.5s ease;
    opacity: 0;
    a {
      display: flex;
      margin-right: 16px;
      margin-left: 16px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  img {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin-bottom: 16px;
    object-fit: cover;
    aspect-ratio: 1/1;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
  }
  p {
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
}
