@import "reponsive";

$textMainColor: #121d26;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 16px;
  height: 96px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include desktop {
    padding-left: 48px;
    padding-right: 48px;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &__more {
    display: none;
    @include desktop {
      @include flex-center();
    }
    gap: 24px;
    &--option {
      @include flex-center();
      flex-direction: column;
    }
  }

  &__contacts-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $textMainColor;
    padding: 4px;
    border-radius: 50px;
    &--ic-dino {
      width: 32px;
      @include tablet {
        width: 48px;
      }
      img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 1/1;
      }
    }
    p {
      line-height: 1.5;
      font-weight: 700;
      padding-left: 16px;
      padding-right: 16px;
      color: white;
    }
  }

  &__right {
    @include flex-center();
    gap: 8px;
    @include tablet {
      gap: 16px;
    }
    @include desktop {
      gap: 24px;
    }
  }

  &__center {
    display: none;
    @include desktop {
      @include flex-center();
    }

    &--item {
      @include flex-center();
      padding-right: 16px;
      padding-left: 16px;
      cursor: pointer;
      position: relative;
      gap: 8px;
      height: 80px;
      p {
        font-weight: 700;
        color: $textMainColor;
      }
      img {
        width: 12px;
      }
    }
  }

  &__menu-mobile {
    display: block;
    width: 48px;
    height: 48px;
    @include desktop {
      display: none;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
