@import "reponsive";
@import "_home";
@import "_download";
@import "_news-events";
@import "_cskh";
@import "_store";
@import "_product-detail";
@import "_header";
@import "_footer";

$mainColor: #36bdf8;
$textMainColor: #121d26;
$textDescColor: #212529;

body {
  background-color: #fff;
}
.container-page {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 16px;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;

  &__title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-bottom: 10%;
    @include tablet {
      margin-bottom: 7%;
    }
    @include desktop {
      margin-bottom: 4%;
    }
    h1 {
      font-size: 24px;
      font-weight: 700;
      color: $textMainColor;
      @include tablet {
        font-size: 36px;
      }
      @include desktop {
        font-size: 50px;
      }
    }
    &--icon {
      width: 40px;
      @include tablet {
        width: 60px;
      }
      @include desktop {
        width: 80px;
      }
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
  }
  &__desc {
    font-size: 20px;
    font-weight: 500;
    color: $textDescColor;
    width: 100%;
    margin-bottom: 10%;
    @include tablet {
      margin-bottom: 8%;
    }
    @include desktop {
      margin-bottom: 6%;
    }
    @include desktop {
      font-size: 24px;
    }
  }
}

.tab {
  display: flex;
  gap: 12px;
  margin-bottom: 10%;
  @include tablet {
    margin-bottom: 7%;
  }

  @include desktop {
    margin-bottom: 4%;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 20px;
    transition: 0.3s;
    min-width: 100px;

    &:hover,
    &.active {
      background-color: $mainColor;
      color: $textWhite;
      border-radius: 65px;
    }
  }
}

.tab-content {
  display: none;
  color: $textBlack;
  animation: fadeEffect 1s;
  &--active {
    display: block;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
