@import "reponsive";
@import "_download";
@import "_news-events";

$mainColor: #36bdf8;
$textMainColor: #121d26;
$textDescColor: #212529;

.container-page {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}

.page-name {
  font-size: 32px;
  font-weight: 700;
  color: $textMainColor;
  margin-bottom: 1%;
  @include desktop {
    font-size: 50px;
  }
}

.page-desc {
font-size: 20px;
font-weight: 500;
color: $textDescColor;
@include desktop {
  font-size: 24px;
}
}
