@media screen and (min-width: 640px) {
}

@media screen and (min-width: 640px) and (orientation: landscape) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1289px) {
}

.img-app {
    background-image: url('../images/ic_betia_1.webp.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
