.product__name {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 4%;
  margin-top: 4%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.product__name img {
  width: 48px;
}
@media (min-width: 768px) {
  .product__name img {
    width: 64px;
  }
}
@media (min-width: 1024px) {
  .product__name img {
    width: 80px;
  }
}
.product__name h3 {
  color: #121d26;
  font-weight: 700;
  font-size: 24px;
}
@media (min-width: 768px) {
  .product__name h3 {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .product__name h3 {
    font-size: 50px;
  }
}
.product__banner {
  position: sticky;
  top: 60px;
  z-index: 0;
}
@media (min-width: 768px) {
  .product__banner {
    top: 80px;
  }
}
@media (min-width: 1024px) {
  .product__banner {
    top: 96px;
  }
}
.product__contents {
  position: relative;
  z-index: 888;
}

.banner {
  position: relative;
  z-index: 0;
}
.banner__img {
  width: 100%;
}
.banner__img img {
  object-fit: cover;
  width: 100%;
}
.banner__contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-items: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .banner__contents {
    transform: translate(-50%, -80%);
  }
}
.banner__contents--logo {
  width: 10%;
}
.banner__contents--desc {
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .banner__contents--desc {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .banner__contents--desc {
    font-size: 44px;
  }
}
.banner__contents--name {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-shadow: 12px 12px 12px rgba(32, 106, 210, 0.8980392157);
}
@media (min-width: 768px) {
  .banner__contents--name {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .banner__contents--name {
    font-size: 80px;
  }
}

.rating {
  transform: translateY(-5%);
}
.rating__contents {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fff;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.rating__contents--title {
  color: #3399ff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  max-width: 810px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .rating__contents--title {
    font-size: 48px;
  }
}
@media (min-width: 1024px) {
  .rating__contents--title {
    font-size: 60px;
  }
}
.rating__contents--desc {
  color: #121d26;
  font-size: 16px;
  line-height: 1.8;
  max-width: 810px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .rating__contents--desc {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .rating__contents--desc {
    font-size: 24px;
  }
}
.rating__contents--board {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #3399ff;
  border-radius: 50px;
}
@media (min-width: 768px) {
  .rating__contents--board {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 4%;
  }
}
@media (min-width: 1024px) {
  .rating__contents--board {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
.rating__contents--board--title {
  display: flex;
  gap: 16px;
}
.rating__contents--board--title p {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
@media (min-width: 768px) {
  .rating__contents--board--title p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .rating__contents--board--title p {
    font-size: 24px;
  }
}
.rating__contents--board__point {
  font-weight: 700;
  color: #fff;
  font-size: 40px;
}
@media (min-width: 768px) {
  .rating__contents--board__point {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .rating__contents--board__point {
    font-size: 80px;
  }
}
.rating__cloud {
  transform: translateY(2px);
}
.rating__cloud--180 {
  transform: translateY(2px);
  rotate: 180deg;
  position: absolute;
  z-index: 99;
}
.rating .island__background {
  transform: translateY(20%);
  background: #3399ff;
}
.rating .welcome {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(33, 37, 41, 0.6);
  border-radius: 50px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  max-width: 600px;
  z-index: 999;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
@media (min-width: 768px) {
  .rating .welcome {
    padding: 24px 18px;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .rating .welcome {
    padding: 36px 24px;
  }
}
.rating .welcome--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .rating .welcome--title {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .rating .welcome--title {
    font-size: 50px;
  }
}
.rating .welcome--desc {
  font-size: 12px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .rating .welcome--desc {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .rating .welcome--desc {
    font-size: 24px;
  }
}

.section {
  width: 100%;
  color: #3399ff;
  z-index: 999;
}
.section__blue {
  background-color: #3399ff;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-right: 16px;
  padding-left: 16px;
  color: #fff;
}
.section__white {
  background-color: #f8f8f8;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-right: 16px;
  padding-left: 16px;
  color: #121d26;
}
.section__grey {
  background-color: #121d26;
  width: 100%;
  padding-top: 8%;
  padding-right: 16px;
  padding-left: 16px;
  color: white;
}
.section__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.section__contents--title {
  margin-bottom: 10%;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 768px) {
  .section__contents--title {
    margin-bottom: 6%;
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .section__contents--title {
    margin-bottom: 2%;
    font-size: 50px;
  }
}
.section__contents--sub-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
@media (min-width: 768px) {
  .section__contents--sub-title {
    font-size: 26px;
  }
}
@media (min-width: 1024px) {
  .section__contents--sub-title {
    font-size: 32px;
  }
}
.section__contents--desc {
  margin-bottom: 6%;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .section__contents--desc {
    font-size: 20px;
    margin-bottom: 4%;
  }
}
@media (min-width: 1024px) {
  .section__contents--desc {
    font-size: 24px;
    margin-bottom: 2%;
  }
}
.section__contents--sub-desc {
  line-height: 1.6;
  font-size: 12px;
  color: #414a51;
  margin-bottom: 3%;
  text-align: center;
}
@media (min-width: 768px) {
  .section__contents--sub-desc {
    font-size: 16px;
  }
}
.section__contents--sub-desc span {
  color: #f63b2c;
}
.section__contents--more {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section__contents--more img {
  margin-right: auto;
  margin-left: auto;
}
.section__contents--more-row {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .section__contents--more-row {
    flex-direction: row;
    width: 100%;
  }
}
.section__contents--more-row img {
  object-fit: cover;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .section__contents--more-row img {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .section__contents--more-row img {
    width: 50%;
    padding-right: 16px;
    padding-left: 16px;
  }
}
.section__contents--more-grid {
  display: grid;
  width: 80%;
  gap: 32px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .section__contents--more-grid {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .section__contents--more-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
  }
}
.section__contents--more-brain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.section__contents--more-brain img {
  width: 80%;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  height: 136px;
  width: 100%;
}
@media (min-width: 1024px) {
  .section__contents--more-brain img {
    height: 215px;
  }
}
.section__contents--more-brain h1 {
  margin-bottom: 16px;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
}
@media (min-width: 768px) {
  .section__contents--more-brain h1 {
    font-size: 24px;
  }
}
.section__contents--more-brain h3 {
  font-size: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .section__contents--more-brain h3 {
    font-size: 20px;
  }
}
.section__contents--more-item {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  background-color: #fff;
}
@media (min-width: 1024px) {
  .section__contents--more-item {
    padding: 50px;
  }
}
.section__contents--more-item img {
  height: 80px;
  aspect-ratio: auto;
  object-fit: contain;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .section__contents--more-item img {
    height: 96px;
  }
}
@media (min-width: 1024px) {
  .section__contents--more-item img {
    height: 115px;
  }
}
.section__contents--more-item h5 {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .section__contents--more-item h5 {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .section__contents--more-item h5 {
    font-size: 32px;
  }
}
.section__contents--more-item p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 768px) {
  .section__contents--more-item p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .section__contents--more-item p {
    font-size: 24px;
  }
}
.section__contents--plot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  margin-bottom: 4%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1024px) {
  .section__contents--plot {
    flex-direction: row;
  }
}
.section__contents--plot__title {
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  .section__contents--plot__title {
    width: 33%;
    text-align: start;
  }
}
.section__contents--plot__title h3 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .section__contents--plot__title h3 {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .section__contents--plot__title h3 {
    font-size: 32px;
  }
}
.section__contents--plot__title p {
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .section__contents--plot__title p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .section__contents--plot__title p {
    font-size: 24px;
  }
}
.section__contents--plot__banner {
  width: 100%;
  position: sticky;
  top: 96px;
  z-index: 0;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .section__contents--plot__banner {
    width: 67%;
  }
}
@media (min-width: 1024px) {
  .section__contents--plot__banner {
    top: 100px;
  }
}

.download {
  width: 100%;
  background-image: url("../images/banner_download.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom;
}
.download__contents {
  display: flex;
  padding-top: 10%;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download__logo-betia {
  width: 64px;
  margin-bottom: 4%;
}
@media (min-width: 768px) {
  .download__logo-betia {
    width: 124px;
  }
}
@media (min-width: 1024px) {
  .download__logo-betia {
    width: 240px;
  }
}
.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border-radius: 50px;
  min-width: 240px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 4%;
}
@media (min-width: 768px) {
  .download__button {
    min-width: 400px;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
  }
}
.download__button--title {
  color: #121d26;
  font-weight: 700;
}
.download__title {
  text-align: center;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  line-height: 1.5;
  color: #fff;
  font-weight: 700;
}
@media (min-width: 768px) {
  .download__title {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  .download__title {
    font-size: 80px;
  }
}
.download__user-betia {
  width: 80%;
}
@media (min-width: 768px) {
  .download__user-betia {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .download__user-betia {
    width: 50%;
  }
}

.app-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 50px;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  .app-item {
    flex-direction: row;
    margin-bottom: 6%;
  }
}
@media (min-width: 1024px) {
  .app-item {
    margin-bottom: 4%;
  }
}
.app-item__banner {
  width: 100%;
}
@media (min-width: 768px) {
  .app-item__banner {
    width: 50%;
  }
}
.app-item__banner img {
  width: 100%;
  aspect-ratio: 6/5;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (min-width: 1024px) {
  .app-item__banner img {
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
  }
}
.app-item__detail {
  width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #121d26;
}
@media (min-width: 768px) {
  .app-item__detail {
    width: 50%;
    padding: 4%;
  }
}
.app-item__detail--slogan {
  font-weight: 500;
  margin-bottom: 16px;
  color: #31aadf;
}
.app-item__detail--name {
  font-weight: 700;
  margin-bottom: 32px;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .app-item__detail--name {
    font-size: 30px;
  }
}
.app-item__detail--desc {
  font-size: 16px;
}
@media (min-width: 1024px) {
  .app-item__detail--desc {
    font-size: 20px;
  }
}
.app-item__detail--desc li {
  margin-bottom: 8px;
}
.app-item__detail-download {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
@media (min-width: 768px) {
  .app-item__detail-download {
    flex-direction: row;
  }
}
.app-item__detail-download-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 50px;
  background-color: #fff;
}
.app-item__detail-download-option--img {
  width: 24px;
}
.app-item__detail-download-option img {
  aspect-ratio: 1/1;
  width: 100%;
}
.app-item__detail-download-option--name {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .app-item__detail-download-option--name {
    font-size: 16px;
  }
}

.app-item-reverse {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 50px;
  margin-bottom: 4%;
}
@media (min-width: 768px) {
  .app-item-reverse {
    flex-direction: row-reverse;
  }
}
.app-item-reverse__banner {
  width: 100%;
}
@media (min-width: 768px) {
  .app-item-reverse__banner {
    width: 50%;
  }
}
.app-item-reverse__banner img {
  width: 100%;
  aspect-ratio: 6/5;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (min-width: 1024px) {
  .app-item-reverse__banner img {
    border-top-right-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0;
  }
}
.app-item-reverse__detail {
  width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #121d26;
}
@media (min-width: 768px) {
  .app-item-reverse__detail {
    width: 50%;
    padding: 4%;
  }
}
.app-item-reverse__detail--slogan {
  font-weight: 500;
  margin-bottom: 16px;
  color: #31aadf;
}
.app-item-reverse__detail--name {
  font-weight: 700;
  margin-bottom: 32px;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .app-item-reverse__detail--name {
    font-size: 30px;
  }
}
.app-item-reverse__detail--desc {
  font-size: 16px;
}
@media (min-width: 1024px) {
  .app-item-reverse__detail--desc {
    font-size: 20px;
  }
}
.app-item-reverse__detail--desc li {
  margin-bottom: 8px;
}
.app-item-reverse__detail-download {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}
@media (min-width: 768px) {
  .app-item-reverse__detail-download {
    flex-direction: row;
  }
}
.app-item-reverse__detail-download-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 50px;
  background-color: #fff;
}
.app-item-reverse__detail-download-option--img {
  width: 24px;
}
.app-item-reverse__detail-download-option img {
  aspect-ratio: 1/1;
  width: 100%;
}
.app-item-reverse__detail-download-option--name {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .app-item-reverse__detail-download-option--name {
    font-size: 16px;
  }
}

.filter {
  margin-bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  position: relative;
  min-width: 100px;
}
@media (min-width: 768px) {
  .filter {
    min-width: 140px;
    margin-bottom: 2%;
  }
}
.filter__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 8px 20px;
  border-radius: 50px;
  gap: 4px;
}
.filter__selected--title {
  color: #121d26;
  font-weight: 600;
}
.filter__selected--dropdown-icon {
  height: 28px;
  width: 28px;
  border-radius: 999px;
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: #fff;
}
.filter__selected--dropdown-icon img {
  animation: mymove 0.5s;
}
.filter__option {
  position: absolute;
  top: 110%;
  padding: 8px;
  border-radius: 20px;
  background-color: #36bdf8;
  color: #fff;
  min-width: 100px;
  animation: name 0.3 linear;
}
@media (min-width: 768px) {
  .filter__option {
    min-width: 140px;
  }
}
.filter__option--item {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 6px;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}
.event-item {
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}
@media (min-width: 768px) {
  .event-item {
    flex-direction: row;
    margin-bottom: 6%;
  }
}
@media (min-width: 1024px) {
  .event-item {
    margin-bottom: 4%;
  }
}
.event-item__banner {
  width: 100%;
}
@media (min-width: 768px) {
  .event-item__banner {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .event-item__banner {
    width: 67%;
  }
}
.event-item__banner img {
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 768px) {
  .event-item__banner img {
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
  }
}
.event-item__detail {
  width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .event-item__detail {
    width: 50%;
    padding: 4%;
  }
}
@media (min-width: 1024px) {
  .event-item__detail {
    width: 33%;
  }
}
.event-item__detail--type {
  display: flex;
  color: #b8bbbe;
  font-weight: 600;
  gap: 4px;
}
.event-item__detail--type p {
  font-weight: 600;
  margin-bottom: 8px;
}
.event-item__detail--type__dot {
  width: 5px;
  height: 5px;
  border-radius: 999px;
  aspect-ratio: 1/1;
  background-color: #f63b2c;
}
.event-item__detail--title {
  font-size: 18px;
  font-weight: 700;
  color: #121d26;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .event-item__detail--title {
    font-size: 24px;
  }
}
.event-item__detail--author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.event-item__detail--author-avatar {
  width: 30px;
  border-radius: 999px;
  aspect-ratio: 1/1;
}
.event-item__detail--author-name {
  padding-left: 8px;
  color: #121d26;
}
.event-item__detail--time {
  color: #a0a5a8;
  font-size: 14px;
}

.news {
  display: grid;
  row-gap: 2%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .news {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 2%;
    column-gap: 4%;
  }
}
@media (min-width: 1024px) {
  .news {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 4%;
    column-gap: 4%;
  }
}
.news .news-item {
  background-color: #f8f8f8;
  border-radius: 50px;
}
.news .news-item__banner {
  width: 100%;
}
.news .news-item__banner img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.news .news-item__detail {
  padding: 10%;
}
.news .news-item__detail--type {
  color: #b8bbbe;
  font-weight: 600;
  margin-bottom: 8px;
}
.news .news-item__detail--title {
  font-size: 18px;
  font-weight: 700;
  color: #121d26;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .news .news-item__detail--title {
    font-size: 24px;
  }
}
.news .news-item__detail--time {
  color: #a0a5a8;
  font-size: 14px;
}

.notifi-item {
  background-color: #f8f8f8;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.notifi-item__title {
  color: #121d26;
}
.notifi-item__time {
  color: #A0A5A8;
}

.bg-grey {
  background-color: #E7E8E9;
}

.banner-slick {
  padding-bottom: 4%;
  padding-top: 4%;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 32px;
  column-gap: 32px;
  padding-bottom: 4%;
  padding-top: 4%;
}
@media (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .products-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.rotate-90 {
  rotate: 90deg;
}

.rotate--90 {
  rotate: -90deg;
}

.products-item {
  background-color: #fff;
  border-radius: 50px;
}
.products-item__banner {
  width: 100%;
  aspect-ratio: 1/1;
}
.products-item__banner img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.products-item__detail {
  padding: 32px;
}
.products-item__detail--name {
  color: #121d26;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}
.products-item__detail--desc {
  color: #121d26;
  margin-bottom: 24px;
}
.products-item__detail--price {
  display: flex;
  gap: 8px;
  align-items: end;
}
.products-item__detail--price__sale {
  font-size: 24px;
  font-weight: 700;
}
.products-item__detail--price__cost {
  color: #a0a5a8;
  font-size: 16px;
  text-decoration: line-through;
}

@media (min-width: 1024px) {
  .product {
    display: flex;
    justify-content: space-between;
  }
}
.product__detail {
  width: 100%;
  overflow: auto;
}
@media (min-width: 1024px) {
  .product__detail {
    width: 65%;
  }
}
.product__detail--item {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 16px;
}
.product__detail--item img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.product__detail .product__infor {
  display: block;
}
@media (min-width: 1024px) {
  .product__detail .product__infor {
    display: none;
  }
}
.product__payment {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f8f8f8;
  position: fixed;
  bottom: 0;
  z-index: 888;
  padding: 20px;
  color: #121d26;
}
@media (min-width: 1024px) {
  .product__payment {
    width: 35%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
  }
}
.product__payment .product__infor {
  display: none;
}
@media (min-width: 1024px) {
  .product__payment .product__infor {
    display: block;
  }
}
.product__payment--name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 2%;
}
.product__payment--type-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.product__payment--type-item {
  padding: 8px 16px;
  background-color: #f3f4f4;
  font-weight: 600;
  border-radius: 50px;
}
.product__payment li {
  margin-bottom: 4px;
}
.product__payment--infor {
  padding: 30px;
  background: #f8f8f8;
  border-radius: 50px;
}
.product__payment--line-space {
  height: 1px;
  border-radius: 10px;
  background-color: #e7e8e9;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.product__payment--voucher-title {
  font-weight: 700;
  margin-bottom: 8px;
}
.product__payment--voucher-code {
  display: flex;
  justify-content: space-between;
}
.product__payment--voucher-code input {
  width: 65%;
  background: #ecedee;
  padding: 12px 16px;
  border-radius: 50px;
}
.product__payment--voucher-code button,
.product__payment--voucher-code a {
  width: 30%;
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 50px;
}
@media (min-width: 768px) {
  .product__payment--voucher-code button,
  .product__payment--voucher-code a {
    padding: 8px 16px;
  }
}
.product__payment--price {
  display: flex;
  align-items: end;
  gap: 16px;
  margin-bottom: 16px;
}
.product__payment--price__sale {
  font-size: 28px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .product__payment--price__sale {
    font-size: 32px;
  }
}
.product__payment--price__cost {
  text-decoration: line-through;
  color: #a0a5a8;
  font-size: 16px;
}
@media (min-width: 768px) {
  .product__payment--price__cost {
    font-size: 20px;
  }
}
.product__payment__buy-button {
  width: 100%;
  background-color: #36bdf8;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
}

header {
  position: sticky;
  z-index: 999;
  top: 0;
}

.header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 60px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 96px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
.header__left img {
  width: 70%;
}
@media (min-width: 768px) {
  .header__left img {
    width: 100%;
  }
}
.header__more {
  display: none;
  gap: 24px;
}
@media (min-width: 1024px) {
  .header__more {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__more--option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__contacts-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121d26;
  padding: 4px;
  border-radius: 50px;
}
.header__contacts-us--ic-dino {
  width: 24px;
}
@media (min-width: 768px) {
  .header__contacts-us--ic-dino {
    width: 36px;
  }
}
@media (min-width: 768px) {
  .header__contacts-us--ic-dino {
    width: 48px;
  }
}
.header__contacts-us--ic-dino img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}
.header__contacts-us p {
  line-height: 1.5;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-size: 14px;
}
@media (min-width: 768px) {
  .header__contacts-us p {
    font-size: 16px;
  }
}
.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (min-width: 768px) {
  .header__right {
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .header__right {
    gap: 24px;
  }
}
.header__center {
  display: none;
}
@media (min-width: 1024px) {
  .header__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__center--item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer;
  gap: 8px;
  height: 80px;
}
.header__center--item p {
  font-weight: 700;
  color: #121d26;
}
.header__center--item img {
  width: 12px;
}
.header__menu-mobile {
  display: block;
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .header__menu-mobile {
    width: 36px;
    height: 36px;
  }
}
@media (min-width: 1024px) {
  .header__menu-mobile {
    display: none;
  }
}
.header__menu-mobile img {
  width: 100%;
  object-fit: cover;
}

.header-mobile {
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 999;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  overflow: auto;
  float: right;
  padding: 32px;
  padding-bottom: 112px;
  background: #ccc;
}
@media (min-width: 768px) {
  .header-mobile {
    top: 80px;
  }
}
@media (min-width: 1024px) {
  .header-mobile {
    display: none;
  }
}
.header-mobile__item {
  margin-bottom: 32px;
}
.header-mobile__item--title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
}
.header-mobile__item--contents-grid {
  border-radius: 50px;
  background: #fff;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 18px;
}
@media (min-width: 768px) {
  .header-mobile__item--contents-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.header-mobile__item--contents-grid a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.header-mobile__item--contents-grid a img {
  width: 84px;
  height: 84px;
  border-radius: 32px;
  margin-bottom: 16px;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.header-mobile__item--contents-col {
  border-radius: 50px;
  background: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.header-mobile__item--contents-col a:last-child {
  border-bottom: none;
}
.header-mobile__item--contents-col a {
  padding: 12px;
  border-bottom: 1px #ccc solid;
}
.header-mobile--active {
  display: block;
  animation: fadeRightToLeft 0.5s ease-in;
}
.header-mobile--hide {
  animation: fadeLeftToRight 0.5s ease-out;
}

@keyframes fadeBottomToTop {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeLeftToRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
.sub-menu {
  width: 100%;
  padding: 24px;
  position: absolute;
  top: 96px;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sub-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-menu__products {
  animation: fadeBottomToTop 0.5s ease;
  opacity: 0;
}
.sub-menu__products a {
  display: flex;
  margin-right: 16px;
  margin-left: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-menu img {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  margin-bottom: 16px;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.sub-menu p {
  width: 100%;
  text-align: center;
  font-weight: 700;
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #121d26;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column--title {
  font-weight: 700;
  line-height: 2;
  margin-bottom: 24px;
  opacity: 0.8;
}
.footer__column ul {
  margin-bottom: 8px;
}
.footer__column ul li {
  margin-bottom: 4px;
}
.footer__column--highlight {
  font-weight: 700;
  margin-bottom: 4px;
}

body {
  background-color: #fff;
}

.container-page {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 16px;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
}
.page-header__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  .page-header__title {
    margin-bottom: 7%;
  }
}
@media (min-width: 1024px) {
  .page-header__title {
    margin-bottom: 4%;
  }
}
.page-header__title h1 {
  font-size: 24px;
  font-weight: 700;
  color: #121d26;
}
@media (min-width: 768px) {
  .page-header__title h1 {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .page-header__title h1 {
    font-size: 50px;
  }
}
.page-header__title--icon {
  width: 40px;
}
@media (min-width: 768px) {
  .page-header__title--icon {
    width: 60px;
  }
}
@media (min-width: 1024px) {
  .page-header__title--icon {
    width: 80px;
  }
}
.page-header__title--icon img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.page-header__desc {
  font-size: 20px;
  font-weight: 500;
  color: #212529;
  width: 100%;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  .page-header__desc {
    margin-bottom: 8%;
  }
}
@media (min-width: 1024px) {
  .page-header__desc {
    margin-bottom: 6%;
  }
}
@media (min-width: 1024px) {
  .page-header__desc {
    font-size: 24px;
  }
}

.tab {
  display: flex;
  gap: 12px;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  .tab {
    margin-bottom: 7%;
  }
}
@media (min-width: 1024px) {
  .tab {
    margin-bottom: 4%;
  }
}
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 20px;
  transition: 0.3s;
  min-width: 100px;
}
.tab button:hover, .tab button.active {
  background-color: #36bdf8;
  color: #fff;
  border-radius: 65px;
}

.tab-content {
  display: none;
  color: #000;
  animation: fadeEffect 1s;
}
.tab-content--active {
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
