.app-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 50px;
  margin-bottom: 4%;
}
@media (min-width: 768px) {
  .app-item {
    flex-direction: row;
  }
}
.app-item__banner {
  width: 100%;
}
@media (min-width: 768px) {
  .app-item__banner {
    width: 50%;
  }
}
.app-item__banner img {
  width: 100%;
  aspect-ratio: 6/5;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (min-width: 1024px) {
  .app-item__banner img {
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
  }
}
.app-item__detail {
  width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #121d26;
}
@media (min-width: 768px) {
  .app-item__detail {
    width: 50%;
    padding: 4%;
  }
}
.app-item__detail--slogan {
  font-weight: 500;
  margin-bottom: 16px;
  color: #31aadf;
}
.app-item__detail--name {
  font-weight: 700;
  margin-bottom: 32px;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .app-item__detail--name {
    font-size: 30px;
  }
}
.app-item__detail--desc {
  font-size: 16px;
}
@media (min-width: 1024px) {
  .app-item__detail--desc {
    font-size: 20px;
  }
}
.app-item__detail--desc li {
  margin-bottom: 8px;
}
.app-item__detail-download {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .app-item__detail-download {
    flex-direction: row;
  }
}
.app-item__detail-download-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 50px;
  background-color: #fff;
}
.app-item__detail-download-option--img {
  width: 24px;
}
.app-item__detail-download-option img {
  aspect-ratio: 1/1;
  width: 100%;
}
.app-item__detail-download-option--name {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .app-item__detail-download-option--name {
    font-size: 16px;
  }
}

.filter {
  margin-bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  position: relative;
  min-width: 100px;
}
@media (min-width: 768px) {
  .filter {
    min-width: 140px;
    margin-bottom: 2%;
  }
}
.filter__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 8px 20px;
  border-radius: 50px;
  gap: 4px;
}
.filter__selected--title {
  color: #121d26;
  font-weight: 600;
}
.filter__selected--dropdown-icon {
  height: 28px;
  width: 28px;
  border-radius: 999px;
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: #fff;
}
.filter__selected--dropdown-icon img {
  animation: mymove 0.5s;
}
.filter__option {
  position: absolute;
  top: 110%;
  padding: 8px;
  border-radius: 20px;
  background-color: #36bdf8;
  color: #fff;
  min-width: 100px;
  animation: name 0.3 linear;
}
@media (min-width: 768px) {
  .filter__option {
    min-width: 140px;
  }
}
.filter__option--item {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 6px;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}
.event-item {
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}
@media (min-width: 768px) {
  .event-item {
    flex-direction: row;
    margin-bottom: 6%;
  }
}
@media (min-width: 1024px) {
  .event-item {
    margin-bottom: 4%;
  }
}
.event-item__banner {
  width: 100%;
}
@media (min-width: 768px) {
  .event-item__banner {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .event-item__banner {
    width: 67%;
  }
}
.event-item__banner img {
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 768px) {
  .event-item__banner img {
    border-top-left-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0;
  }
}
.event-item__detail {
  width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .event-item__detail {
    width: 50%;
    padding: 4%;
  }
}
@media (min-width: 1024px) {
  .event-item__detail {
    width: 33%;
  }
}
.event-item__detail--type {
  display: flex;
  color: #b8bbbe;
  font-weight: 600;
  gap: 4px;
}
.event-item__detail--type p {
  font-weight: 600;
  margin-bottom: 8px;
}
.event-item__detail--type__dot {
  width: 5px;
  height: 5px;
  border-radius: 999px;
  aspect-ratio: 1/1;
  background-color: #f63b2c;
}
.event-item__detail--title {
  font-size: 18px;
  font-weight: 700;
  color: #121d26;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .event-item__detail--title {
    font-size: 24px;
  }
}
.event-item__detail--author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.event-item__detail--author-avatar {
  width: 30px;
  border-radius: 999px;
  aspect-ratio: 1/1;
}
.event-item__detail--author-name {
  padding-left: 8px;
  color: #121d26;
}
.event-item__detail--time {
  color: #a0a5a8;
  font-size: 14px;
}

.news {
  display: grid;
  row-gap: 2%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  .news {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 2%;
    column-gap: 4%;
  }
}
@media (min-width: 1024px) {
  .news {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 4%;
    column-gap: 4%;
  }
}
.news .news-item {
  background-color: #f8f8f8;
  border-radius: 50px;
}
.news .news-item__banner {
  width: 100%;
}
.news .news-item__banner img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.news .news-item__detail {
  padding: 10%;
}
.news .news-item__detail--type {
  color: #b8bbbe;
  font-weight: 600;
  margin-bottom: 8px;
}
.news .news-item__detail--title {
  font-size: 18px;
  font-weight: 700;
  color: #121d26;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .news .news-item__detail--title {
    font-size: 24px;
  }
}
.news .news-item__detail--time {
  color: #a0a5a8;
  font-size: 14px;
}

.notifi-item {
  background-color: #f8f8f8;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.notifi-item__title {
  color: #121d26;
}
.notifi-item__time {
  color: #A0A5A8;
}

body {
  background-color: #ccc;
}

.banner-slick {
  margin-bottom: 6%;
  margin-top: 6%;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 32px;
  column-gap: 32px;
}
@media (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .products-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.rotate-90 {
  rotate: 90deg;
}

.rotate--90 {
  rotate: -90deg;
}

.products-item {
  background-color: #fff;
  border-radius: 50px;
}
.products-item__banner {
  width: 100%;
  aspect-ratio: 1/1;
}
.products-item__banner img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.products-item__detail {
  padding: 32px;
}
.products-item__detail--name {
  color: #121d26;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}
.products-item__detail--desc {
  color: #121d26;
  margin-bottom: 24px;
}
.products-item__detail--price {
  display: flex;
  gap: 8px;
  align-items: end;
}
.products-item__detail--price__sale {
  font-size: 24px;
  font-weight: 700;
}
.products-item__detail--price__cost {
  color: #a0a5a8;
  font-size: 16px;
  text-decoration: line-through;
}

.container-page {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}

.page-header {
  margin-bottom: 15%;
}
@media (min-width: 768px) {
  .page-header {
    margin-bottom: 10%;
  }
}
@media (min-width: 1024px) {
  .page-header {
    margin-bottom: 5%;
  }
}
.page-header__title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  .page-header__title {
    margin-bottom: 7%;
  }
}
@media (min-width: 1024px) {
  .page-header__title {
    margin-bottom: 4%;
  }
}
.page-header__title h1 {
  font-size: 24px;
  font-weight: 700;
  color: #121d26;
  margin-bottom: 1%;
}
@media (min-width: 768px) {
  .page-header__title h1 {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .page-header__title h1 {
    font-size: 50px;
  }
}
.page-header__desc {
  font-size: 20px;
  font-weight: 500;
  color: #212529;
}
@media (min-width: 1024px) {
  .page-header__desc {
    font-size: 24px;
  }
}

.tab {
  display: flex;
  gap: 12px;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  .tab {
    margin-bottom: 7%;
  }
}
@media (min-width: 1024px) {
  .tab {
    margin-bottom: 4%;
  }
}
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 20px;
  transition: 0.3s;
  min-width: 100px;
}
.tab button:hover, .tab button.active {
  background-color: #36bdf8;
  color: #fff;
  border-radius: 65px;
}

.tabcontent {
  display: none;
  color: #000;
  animation: fadeEffect 1s;
}

.tabcontent-active {
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
